

body{
    background-color: rgb(224, 137, 179);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.weather-icon{
    width: 55px;
}
#imageIcon{
    margin-top: -18px;
}
.weather-card-bg{
    background-color: rgb(236, 203, 247);
}
.forecast-icon{
  width: 55px;
  margin-top: -45;
}
.forecast-card-color{
    background-color: rgb(235, 189, 236);
}
.forecast-card{
    width: 150px;
}

@media(max-width : 510px) {
    .input{
      width: 220px;
    }
   .Weatherdetails{
    margin-top: 88px;
    margin-left: -170px;
   }
}
